@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.logo {
  font-family: "Cinzel", serif;
  font-size: 2.4rem;
  letter-spacing: 0.5px;

  &--accent {
    color: $color-primary;
  }
}
.navbar {
  background-color: $background-color;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #444; // Add a border to prevent margin collapse

  &__container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__auth {
    display: flex;
    align-items: center;
    gap: 2rem; // Lägg till detta för att få mellanrum mellan auth-länkarna

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  &__logo-img {
    height: 100px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $background-color;
      width: 200px;
      padding: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      &.active {
        display: flex;
      }
    }
  }

  &__link {
    @include nav-link;

    &--resume {
      @include nav-link-resume;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }

    & .navbar__icon {
      width: 24px;
      height: 24px;
      color: $color-text-muted;
    }
  }
}
