<div class="deck-builder">
  <header class="deck-builder__header">
    <h1>Your Decks</h1>
  </header>
  <div class="deck-builder__add-form">
    <form [formGroup]="newDeckForm" (ngSubmit)="createDeck()">
      <input formControlName="name" placeholder="Deck Name" required />
      <textarea
        formControlName="description"
        placeholder="Deck Description"
        required
      ></textarea>
      <button type="submit">Create Deck</button>
    </form>
  </div>
  <section class="deck-builder__grid">
    <div *ngIf="decks.length === 0">No decks available.</div>
    <div class="deck-card" *ngFor="let deck of decks">
      <div class="deck-card__info">
        <h2 class="deck-card__title">{{ deck.name }}</h2>
        <p class="deck-card__details">{{ deck.description }}</p>
        <button (click)="viewDeck(deck._id)">View Deck</button>
      </div>
    </div>
  </section>
</div>
